# --- User Config ---
HOST_UID=1000
HOST_GID=1000

# --- General Config ---
ENV=development
TZ=America/Sao_Paulo

# --- Server Config ---
APP_API_HOST=0.0.0.0
APP_API_PORT=8080
APP_API_RATE_LIMIT=100
APP_API_READ_TIMEOUT=5s
APP_API_WRITE_TIMEOUT=10s
APP_API_IDLE_TIMEOUT=120s

# --- Logger Config ---
APP_LOGGER_LEVEL="debug"
